/* Images */
.navbar{
  -moz-box-shadow: -5px 3px 26px #000000;
  -webkit-box-shadow: -5px 3px 26px #000000;
  box-shadow: -5px 3px 26px #000000;
}
img{
    width: 150px;
    border: 10px black solid;
    border-radius: 150px;
    display: flex;
    justify-items: center;
    margin: 10px;
}   

/*Çizgi*/

hr{
    background-color: black;
    height: 2px;
}



/*Button Effects*/

a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  