<div class="container">


   <!--Birinci Satır-->
    <div class="row">
        <div class="col-sm-4">
        <div class="card">
            <h1>Hatice</h1>
                <ul>
                    <li><p>Nginx web server </p></li> 
                    <li><p>Apache webs server </p></li> 
                    <li><p>Squid prox </p></li> 
                 </ul>
         
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <h1>Chingiz</h1>
        </div>
        <div class="card">
            <h1>deneme</h1>
        </div>
    </div>
</div>
    <!--İkinci Satır-->
    <div class="row">
        <div class="card">
            <h1>Deneme</h1>
        </div>
        <div class="card"   >
            <h1>Deneme</h1>
        </div>
    </div>
</div>