   <div class="container ">
    <div class="card text-white bg-primary mb-3 car w-25 ">
        <div class="card-header">Linux Xidmətləri</div>
        <div class="card-body">
           <ul>
               <li><p>Nginx web server </p></li> 
               <li><p>Apache webs server </p></li> 
               <li><p>Squid prox </p></li> 
            </ul>
        </div>
    </div>
    
    <div class="card text-white bg-primary mb-3 w-25">
            <div class="card-header">Windows Xidmətləri</div>
            <div class="card-body">
                <ul>
                    <li><p>Active Directory Domain Service</p></li> 
                    <li><p>Exchange Server </p></li> 
                 </ul>
            </div>
        </div>
    
    <div class="card text-white bg-primary mb-3 w-25" >
                <div class="card-header">VoIP Xidmətləri</div>
                <div class="card-body">
                    <ul>
                        <li><p>PBX və Asterisk zəng sistemi  </p></li> 
                        <li><p>İVR xidməti</p></li> 
                     </ul>
                </div>
            </div>
        </div>

<div class="container">
    <div class="card text-white bg-primary mb-3 w-25" >
        <div class="card-header">Virtuallaşdırma</div>
        <div class="card-body"> 
            <ul>
                <li><p>Proxmox</p></li> 
                <li><p>KVM</p></li> 
                <li><p>ESXI</p></li> 
             </ul> 
        </div>
    </div>
    
    <div class="card text-white bg-primary mb-3 w-25">
            <div class="card-header">Şəbəkə xidmətləri</div>
            <div class="card-body"> 
           <ul>   
              <li><p>Cisco</p></li>
              <li><p>Fortigate</p></li>
              <li><p>PaloAlto</p></li>
            </ul>  
            </div>
    </div>
    
</div> 
