   <div class="container ">
    <div class="card text-white bg-primary mb-3 car w-25 ">
        <div class="card-header">Linux Xidmətləri</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">Nginx web server  </p>
              <p>Apache webs server</p>
              <p>Squid proxy</p>
              <p></p> 
        
        </div>
    </div>
    
    <div class="card text-white bg-primary mb-3 w-25">
            <div class="card-header">Windows Xidmətləri</div>
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Active Directory Domain Service</p>
              <p>Exchange Server</p>
            </div>
        </div>
    
    <div class="card text-white bg-primary mb-3 w-25" >
                <div class="card-header">VoIP Xidmətləri</div>
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-text">PBX və Asterisk zəng sistemi  </p>
                    <p>İVR xidməti</p>
                
                </div>
            </div>
</div>

<div class="container">
    <div class="card text-white bg-primary mb-3 w-25" >
        <div class="card-header">Virtuallaşdırma</div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text"> Proxmox </p>
            <p>KVM</p>
            <p>ESXI</p>  
        </div>
    </div>
    
    <div class="card text-white bg-primary mb-3 w-25">
            <div class="card-header">Şəbəkə xidmətləri</div>
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">Cisco</p>
              <p>Fortigate</p>
              <p>PaloAlto</p>
            </div>
    </div>
    
</div> 
